/*contactPagina*/
.navbar {
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 25px;
}

/*Geeft het vitalis logo de juiste grootte.*/
nav div a img {
    width: 150px;
    height: auto;
}

/*Geeft iets meer ruimte tussen de "Contacteer ons" header en de andere elementen.*/
#headerText {
    margin: 1rem 0 1rem 0;
}

#container {
    width: 70%;
}

#contactbox1 {
    width: 25rem;
    height: 28rem;
    background-color: #F8F8F8;
    background-image: url("Assets/background_contactbox1.png");
    border-radius: 25px 0 0 25px;
    padding: 1rem 2.4rem;
}

.contactboxRowSpacing {
    margin: 1rem 0 1rem 0;
}

#contactbox2 {
    background-color: #FDFDFD;
    border-radius: 0 25px 25px 0;
}

#table {
    border-collapse: separate;
    border-spacing: 2rem 0.5rem;
}

table td {
    width: 12rem;
}

#inputMessage {
    resize: none;
}

#verstuurKnop {
    margin: 2rem 0 0 0;
}

.boxstyle td {
    width: 100%;
    border: none;
}

.boxstyle td input,
textarea {
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 8px grey;
    padding: 0.3rem;
}

input,
textarea:focus {
    outline: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #3F3F3F;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

input[type="radio"]:checked {
    background-color: #3F3F3F;
    background-image: url("Assets/whiteCheckmark.png");
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

#inputMessage {
    width: 100%;
}

#labelRadiobuttons {
    font-weight: bold;
}

.ghostText {
    color: darkgrey;
}

.contactbox1icons {
    font-size: 24px;
    margin-top: auto;
}

.contactbox1text {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}

#contactSocialMediaButtons {
    margin-top: 3rem;
}


@media only screen
and (device-width : 820px)
and (device-height : 1180px)
and (-webkit-device-pixel-ratio : 2) {

    nav div a img {
        width: 200px;
        height: auto;
    }

    #container {
        width: 100%;
    }

    #contactbox1 {
        border-radius: 25px;
        width: auto;
        height: 18rem;
    }

    #contactbox2 {
        border-radius: 25px;
    }

    #table {
        border-spacing: 1rem 0.5rem;
    }

    #verstuurKnop {
        margin-top: 2rem;
    }

    .contactbox1icons {
        font-size: 26px;
    }

    .contactbox1text {
        font-size: 20px;
    }

    .inputVeld {
        width: 18rem;
        height: 3rem;
    }
}

@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2) {

    #headerText {
        font-size: 38px;
    }

    #container {
        width: 100%;
    }

    #contactbox1 h4 {
        font-size: 28px;
    }

    #contactbox1 {
        padding: 1rem;
    }

    #contactbox2 {
        padding: 1rem;
    }

    #table {
        border-spacing: 1rem 0.5rem;
    }

    .contactbox1icons {
        font-size: 16px;
    }

    .contactbox1text {
        font-size: 20px;
    }

    #verstuurKnop {
        margin: 2rem 0 0 0;
    }


    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid #3F3F3F;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    input[type="radio"]:checked {
        background-color: #3F3F3F;
        background-image: url("Assets/whiteCheckmark.png");
        background-repeat: no-repeat;
        background-size: 16px 16px;
    }

    .ghostText {
        font-size: 20px;
    }

    .contactbox1icons {
        font-size: 2rem;
        margin-top: auto;
    }

    .inputVeld {
        width: 10rem;
    }
}


.navbar {
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 25px;
}
body{
    overflow-x: hidden;
}

/*Iconen kleur*/
.btn-outline-primary:hover {
    color: #fff;  /* tekstkleur wit maken */
}
.bg-img{
    width: 100%;
}

/*Text home page*/
.has-bg-img{
    position: relative;
    text-align: center;
}
.home_tekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 6vw;
    z-index: 2;
}
.home_tekst2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    /*background-color: black;*/
    opacity: 50%;
}





/*Afdelingen*/

/*Iconen en tekst afdelingen*/
.icons_afdelingen{
    height: 50px;
}
.afdelingen_tekst_sp{
    color: #DA9CA6;
}
.afdelingen_tekst_ki{
    color: #C9C1D8;
}
.afdelingen_tekst_vo{
    color: #B3C9B7;
}

/*Registreer*/
.registreer{
    position: relative;
    text-align: center;
    width: 100%;
}
.registreer img{
    height: 600px;
    width: auto;
}
.registreer p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    font-size: 2vw;
    color: white;
    width: auto;
}

.registreer button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    border-radius: 50px;
    height: 100px;
    width: 300px;
    background-color: #656565;
}

/*FOOTER*/
h6 a{
    text-decoration: none;
}
.footer_socials a i{
    color: white;
    font-size: 30px;
}

.copyright{
    width: 100%;
}


/*FOOTER2 css*/
#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

/*CART*/
.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
}
.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 50px;
}


/* Stijlen voor schermen kleiner dan 600 pixels breed */
@media (max-width: 600px) {
    /* Voeg hier je CSS-regels toe */
    img{
        overflow-x: hidden;
    }
    .registreer{
        display: none;
    }
}

/* Stijlen voor schermen tussen 601 en 900 pixels breed */
@media (min-width: 601px) and (max-width: 900px) {
    /* Voeg hier je CSS-regels toe */
    img{
        overflow-x: hidden;
    }
}







@media screen and (max-width: 414px) {

    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }}



