/*contactPagina*/

#headermargin {
    margin: 1rem 0 1rem 0;
}

#contactbox1 {
    width: 25rem;
    height: auto;
    background-color: #F8F8F8;
    background-image: url("Assets/background_contactbox1.png");
    border-radius: 25px 0 0 25px;
    padding: 1rem 2.4rem;
}

.contactboxRowSpacing {
    margin: 1rem 0 1rem 0;
}

#contactbox2 {
    background-color: #FDFDFD;
    border-radius: 0 25px 25px 0;
}

#table {
    border-collapse: separate;
    border-spacing: 2rem 0.5rem;
}

#inputMessage {
    resize: none;
}


#verstuurKnop {
    margin: 2rem 0 0 0;
}

.boxstyle td{
    width: 100%;
    border: none;
}

.boxstyle td input,textarea {
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 8px grey;
    padding: 0.3rem;
}

input,textarea:focus {
    outline: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #3F3F3F;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

input[type="radio"]:checked{
    background-color: #3F3F3F;
    background-image: url("Assets/whiteCheckmark.png");
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

#inputMessage {
    width: 100%;
}

#labelRadiobuttons {
    font-weight: bold;
}

.ghostText {
    color: darkgrey;
}

.contactbox1icons {
    font-size: 24px;
    margin-top: auto;
}

.contactbox1text {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}

#contactSocialMediaButtons {
    margin-top: 3rem;
}