/*main*/
.navbar {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
}

main {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
}

button {
    width: 100%;
}


/*Iconen kleur*/
.btn-outline-primary:hover {
    color: #fff;  /* tekstkleur wit maken */
}
.bg-img{
    width: 100%;
}
h1 {
    text-align: center;
}


/*foto css responsive*/


@media screen and (min-width: 800px) {
    #foto {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    #foto {
        display: none;
    }
}



/*FOOTER*/
h6 a{
    text-decoration: none;
}
.footer_socials a i{
    color: white;
    font-size: 30px;
}

.copyright{
    width: 100%;
}


/*FOOTER2 css*/
#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #DC9CA4;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}




@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}
